Source/Avigero/BugZilla.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actual_time">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="alias">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="assigned_to">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="attachid">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="attachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="attachid" />
        <xs:element ref="date" />
        <xs:element ref="desc" />
        <xs:element ref="filename" minOccurs="0" />
        <xs:element ref="type" minOccurs="0" />
        <xs:element ref="size" minOccurs="0" />
        <xs:element ref="data" minOccurs="0" />
        <xs:element ref="flag" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="isurl" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ispatch" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isprivate" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isobsolete" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="blocked">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="bug">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bug_id" />
        <xs:sequence>
          <xs:element ref="alias" minOccurs="0" />
          <xs:element ref="creation_ts" />
          <xs:element ref="short_desc" />
          <xs:element ref="delta_ts" />
          <xs:element ref="reporter_accessible" />
          <xs:element ref="cclist_accessible" />
          <xs:element ref="classification_id" />
          <xs:element ref="classification" />
          <xs:element ref="product" />
          <xs:element ref="component" />
          <xs:element ref="version" />
          <xs:element ref="rep_platform" />
          <xs:element ref="op_sys" />
          <xs:element ref="bug_status" />
          <xs:element ref="resolution" minOccurs="0" />
          <xs:element ref="dup_id" minOccurs="0" />
          <xs:element ref="bug_file_loc" minOccurs="0" />
          <xs:element ref="status_whiteboard" minOccurs="0" />
          <xs:element ref="keywords" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="priority" />
          <xs:element ref="bug_severity" />
          <xs:element ref="target_milestone" minOccurs="0" />
          <xs:element ref="dependson" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="blocked" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="votes" minOccurs="0" />
          <xs:element ref="everconfirmed" />
          <xs:element ref="reporter" />
          <xs:element ref="assigned_to" />
          <xs:element ref="qa_contact" minOccurs="0" />
          <xs:element ref="cc" minOccurs="0" maxOccurs="unbounded" />
          <xs:sequence>
            <xs:element ref="estimated_time" />
            <xs:element ref="remaining_time" />
            <xs:element ref="actual_time" />
            <xs:element ref="deadline" />
          </xs:sequence>
          <xs:element ref="group" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="flag" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="long_desc" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="attachment" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="error" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="NotFound" />
            <xs:enumeration value="NotPermitted" />
            <xs:enumeration value="InvalidBugId" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="bug_file_loc">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="bug_id">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="bug_severity">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="bug_status">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="bug_when">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="bugzilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bug" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required" />
      <xs:attribute name="urlbase" type="xs:string" use="required" />
      <xs:attribute name="maintainer" type="xs:string" use="required" />
      <xs:attribute name="exporter" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="cc">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="cclist_accessible">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="classification">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="classification_id">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="commentid">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="component">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="creation_ts">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="data">
    <xs:complexType mixed="true">
      <xs:attribute name="encoding" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="base64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="date">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="deadline">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="delta_ts">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="dependson">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="desc">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="dup_id">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="estimated_time">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="everconfirmed">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="exporter">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="filename">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="flag">
    <xs:complexType>
      <xs:attribute name="status" type="xs:string" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="requestee" type="xs:string" use="optional" />
      <xs:attribute name="setter" type="xs:string" use="optional" />
      <xs:attribute name="type_id" type="xs:string" use="required" />
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="group">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="keywords">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="long_desc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="who" />
        <xs:element ref="bug_when" />
        <xs:element ref="work_time" minOccurs="0" />
        <xs:element ref="thetext" />
      </xs:sequence>
      <xs:attribute name="encoding" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="base64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isprivate" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="op_sys">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="priority">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="product">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="qa_contact">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="remaining_time">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="rep_platform">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="reporter">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="reporter_accessible">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="resolution">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="short_desc">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="size">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="status_whiteboard">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="target_milestone">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="thetext">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="type">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="urlbase">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="version">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="votes">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="who">
    <xs:complexType mixed="true" />
  </xs:element>

  <xs:element name="work_time">
    <xs:complexType mixed="true" />
  </xs:element>

</xs:schema>